body{
	background-color: #1a475c;
}

h1{
	text-align: center;
	color: #fad563;
}

#mainTitle{
	color: #fff5d1;
}

#contenidorBotons{
	display: flex;
	justify-content: center;
	gap: 2rem;
	width: 100%;
}
	
button.center{
	width: 8rem;
	height: 4rem;
	margin-top: 1rem;
	cursor: pointer;
	background-color: #fff5d1;
	color: #1a475c;
    
	border: 4px solid #8ebd9d; 
	border-radius: 2rem;
    
	font-size: 1rem;
    
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

button.center:hover{
	background-color: #8ebd9d;
	border-color: transparent; 
}

button.center:active{
	background-color: #8ebd9d;
	border-color: #fff5d1;
}
